* 
    margin 0
    padding 0
    box-sizing border-box

body
    background #f6f6f6

.mtop16
    margin-top 16px

i 
   font-size 25px

.box 
    background #47977B 
    border-radius 8px 
    border 1px solid #d6d6d6
    position  absolute 
    width 500px
    .btn-success
        width 100%
        background #47977B 
        border none
    .form-control
        &:focus
        &:active
            outline none
            box-shadow none
    .header 
        text-align center
        padding 10px
        a 
            img 
                width 25%
        h1 
            color #414141    
            font-size 30px

.box_login
    left calc(50% - 250px)    
    top calc(50%  - 121px)